<div class="container">
  <div class="row">
    <div class="col positioning__margin-bottom">
      <h3 id="contact" class="typography__upcoming-events"><span class="events__bottom-underline">Contact Us</span></h3>
    </div>
  </div>
  <!-- ========================================================================================
  =============================================================================================
   DO NOT DELETE ANY COACHES OR COACHES' MODALS
  TO REMOVE COACHES USE HTML COMMENTS
  =============================================================================================
=============================================================================================== -->
  <!-- Coaches containing row -->
  <div class="row">
    <!-- Coach 1 -->
    <!-- Coach 1 outer column -->
    <div class="col-md-4 coaches__col-bottom-margin">
      <!-- Coach 1 row -->
      <div class="row">
        <!-- Coach 1 left image div (inner-left column) -->
        <div class="col-8 float-left">
          <h5 class="coach-name editable">Kari Nugent</h5>
          <h6 class="coach-title editable">Director, <br>Marketing and Public Relations</h6>
          <p class="editable">
              815‑802‑8256<br />
              knugent@kcc.edu
          </p>
        </div>
        <!-- Coach 1 right info div (inner-right column) -->
        <div class="col-4 float-right"></div>
      </div>
    </div>
    <!-- Coach 2 -->
    <!-- Coach 2 outer column -->
    <div class="col-md-4 coaches__col-bottom-margin">
      <!-- Coach 2 row -->
      <div class="row">
        <!-- Coach 2 left image div (inner-left column) -->
        <div class="col-8 float-left">
          <h5 class="coach-name editable">Nancy Schunke</h5>
          <h6 class="coach-title editable">Coordinator, <br>Marketing</h6>
          <p class="editable">
            815&#8209;802&#8209;8784<br />
            nschunke@kcc.edu
          </p>
        </div>
        <!-- Coach 2 right info div (inner-right column) -->
        <div class="col-4 float-right"></div>
      </div>
    </div>
    <div class="col-md-4 coaches__col-bottom-margin">
      <!-- Coach 2 row -->
      <div class="row">
        <!-- Coach 2 left image div (inner-left column) -->
        <div class="col-8 float-left">
          <h5 class="coach-name editable">Ellen Schmidt</h5>
          <h6 class="coach-title editable">Coordinator, <br>Publications</h6>
          <p class="editable">
            815&#8209;802&#8209;8279<br />
            eschmidt@kcc.edu
          </p>
        </div>
        <!-- Coach 2 right info div (inner-right column) -->
        <div class="col-4 float-right"></div>
      </div>
    </div>
  </div>
</div>
