<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="latest-news-widget-mod site-width">

        <!-- The Latest News Hero -->
        <!-- Latest News Widget's image & title/description on black background -->
        <div id="featureHover" class="latest-news-widget__feature-mod">
          <div class="latest-news-widget__feature-mod--inner">

            {% for post in site.posts limit:4 %}

              {% assign current_date = site.time | date: "%Y-%m-%d %H:%M" %}
              {% assign post_expiration = post.expire_date | date: "%Y-%m-%d %H:%M" %}
              {% if current_date < post_expiration %}

                {% if forloop.first == true %}
                  {% if post.video_content == true %}
                    <a data-frame="iframe" data-theVideo="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" data-toggle="modal" id="jsNewsLink{{ forloop.index }}" class="latest-news-widget__feature latest-news-widget__feature--image latest-news-widget__feature--play-hover js-hp-feature" data-target="#videoModal{{ forloop.index }}" href="#" tabindex="-1" aira-hidden="false">
                      <div class="latest-news-widget__feature__tease__hgroup">
                        <span class="latest-news-widget__feature__tease__overline js-hp-feature-overline">{{ post.title }}</span>
                        <h3 class="latest-news-widget__feature__tease__h"><span class="latest-news-widget__hspan--word-break js-hp-feature-tease-link">{{ post.article_lead }}</span></h3>
                      </div>
                      <img id="playIcon{{ forloop.index }}" src="{{ page.baseurl }}assets/img/play.svg" alt="" class="latest-news-widget__play-icon js-play-icon">
                      <div id="jsImageMod{{ forloop.index }}" class="latest-news-widget__feature__img-mod js-hp-feature--img-mod latest-news-widget__feature__yt-thumb" style="background-image: url('https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg')">
                        <img id="latestNewsImage{{ forloop.index }}" class="latest-news-widget__feature__img js-latest-news-widget-img" src="https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg" alt="{{ post.news_image_alt }}">
                      </div>
                    </a>
                  {% else %}
                    <a data-toggle="modal" id="jsNewsLink{{ forloop.index }}" class="latest-news-widget__feature latest-news-widget__feature--image latest-news-widget__feature--play-hover js-hp-feature" href="#modal{{ forloop.index }}" tabindex="-1" aira-hidden="false">
                      <div class="latest-news-widget__feature__tease__hgroup">
                        <span class="latest-news-widget__feature__tease__overline js-hp-feature-overline">{{ post.title }}</span>
                        <h3 class="latest-news-widget__feature__tease__h"><span class="latest-news-widget__hspan--word-break js-hp-feature-tease-link">{{ post.article_lead }}</span></h3>
                      </div>
                      <div id="jsImageMod{{ forloop.index }}" class="latest-news-widget__feature__img-mod js-hp-feature--img-mod" style="background-image: url('{{ post.image }}')">
                        <img id="latestNewsImage{{ forloop.index }}" class="latest-news-widget__feature__img js-latest-news-widget-img" src="{{ page.baseurl }}{{ post.image }}" alt="{{ post.news_image_alt }}">
                      </div>
                    </a>
                  {% endif %}
                {% else %}
                  {% if post.video_content == true %}
                    <a data-frame="iframe" data-theVideo="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" data-toggle="modal" id="jsNewsLink{{ forloop.index }}" class="latest-news-widget__feature latest-news-widget__feature--image latest-news-widget__feature--play-hover js-hp-feature" data-target="#videoModal{{ forloop.index }}" href="#" tabindex="-1" aira-hidden="true">
                      <div class="latest-news-widget__feature__tease__hgroup">
                        <span class="latest-news-widget__feature__tease__overline js-hp-feature-overline">{{ post.title }}</span>
                        <h3 class="latest-news-widget__feature__tease__h"><span class="latest-news-widget__hspan--word-break js-hp-feature-tease-link">{{ post.article_lead }}</span></h3>
                      </div>
                      <img id="playIcon{{ forloop.index }}" src="{{ page.baseurl }}assets/img/play.svg" alt="" class="latest-news-widget__play-icon js-play-icon">
                      <div id="jsImageMod{{ forloop.index }}" class="latest-news-widget__feature__img-mod js-hp-feature--img-mod latest-news-widget__feature__yt-thumb">
                        <img id="latestNewsImage{{ forloop.index }}" class="latest-news-widget__feature__img js-latest-news-widget-img" src="https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg" alt="{{ post.news_image_alt }}">
                      </div>
                    </a>
                  {% else %}
                    <a data-toggle="modal" id="jsNewsLink{{ forloop.index }}" class="latest-news-widget__feature latest-news-widget__feature--image latest-news-widget__feature--play-hover js-hp-feature" href="#modal{{ forloop.index }}" tabindex="-1" aira-hidden="true">
                      <div class="latest-news-widget__feature__tease__hgroup">
                        <span class="latest-news-widget__feature__tease__overline js-hp-feature-overline">{{ post.title }}</span>
                        <h3 class="latest-news-widget__feature__tease__h"><span class="latest-news-widget__hspan--word-break js-hp-feature-tease-link">{{ post.article_lead }}</span></h3>
                      </div>
                      <div id="jsImageMod{{ forloop.index }}" class="latest-news-widget__feature__img-mod js-hp-feature--img-mod">
                        <img id="latestNewsImage{{ forloop.index }}" class="latest-news-widget__feature__img js-latest-news-widget-img" src="{{ page.baseurl }}{{ post.image }}" alt="{{ post.news_image_alt }}">
                      </div>
                    </a>
                  {% endif %}
                {% endif %}

              {% endif %}

            {% endfor %}

          </div>
        </div>

        <!-- The Latest News List -->
        <!-- Latest News Widget's list of articles w/ circle icons (on right-side in desktop; on bottom in mobile) -->
        <section class="latest-news-widget__latest">
          <h2 class="latest-news-widget__latest__h latest-news-widget__latest__h--no-underline typography__latest-news-widget__h2"><span class="latest-news-widget__red-underline">Latest News
      <span id="todaysDate" class="latest-news-widget__latest__date"></span></span>
      </h2>
          <ol id="jsTeaseList" class="latest-news-widget__latest__tease-group">

            {% for post in site.posts limit:4 %}

              {% assign current_date = site.time | date: "%Y-%m-%d %H:%M" %}
              {% assign post_expiration = post.expire_date | date: "%Y-%m-%d %H:%M" %}
              {% if current_date < post_expiration %}

                {% if forloop.first == true %}
                  {% if post.video_content == true %}
                    <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
                <!--  Tease is active   -->
                      <a data-frame="iframe" data-theVideo="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" data-toggle="modal" id="jsTeaseLink{{ forloop.index }}" class="latest-news-widget__latest__tease__link js-hp-latest-tease-link tease-is-active" data-target="#videoModal{{ forloop.index }}" href="#" data-image="https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg"
                        data-image-alt="" tabindex="0" data-tease-type="" data-index="{{ forloop.index0 }}" aria-hidden="true">
                        <div class="latest-news-widget__latest__tease__hgroup">
                          <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">
                          <span class="latest-news-widget__latest__tease__number">{{ forloop.index }}</span>{{ post.title }}</h3>
                          <p class="latest-news-widget__latest__tease__h">{{ post.article_lead }}</p>
                        </div>
                        <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default" style="background-image: url('https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg')">
                        </div>
                      </a>
                    </li>
                  {% else %}
                    <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
                      <!--  Tease is active   -->
                      <a data-toggle="modal" id="jsTeaseLink{{ forloop.index }}" class="latest-news-widget__latest__tease__link js-hp-latest-tease-link tease-is-active" href="#modal{{ forloop.index }}" data-image="{{ post.image }}"
                        data-image-alt="" tabindex="0" data-tease-type="" data-index="{{ forloop.index0 }}" aria-hidden="true">
                        <div class="latest-news-widget__latest__tease__hgroup">
                          <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">
                          <span class="latest-news-widget__latest__tease__number">{{ forloop.index }}</span>{{ post.title }}</h3>
                          <p class="latest-news-widget__latest__tease__h">{{ post.article_lead }}</p>
                        </div>
                        <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default" style="background-image: url('{{ page.baseurl }}{{ post.image }}')">
                        </div>
                      </a>
                    </li>
                  {% endif %}
                {% else %}
                  {% if post.video_content == true %}
                    <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
                      <a data-frame="iframe" data-theVideo="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" data-toggle="modal" id="jsTeaseLink{{ forloop.index }}" class="latest-news-widget__latest__tease__link js-hp-latest-tease-link" data-target="#videoModal{{ forloop.index }}" href="#" data-image="https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg"
                        data-image-alt="" tabindex="0" data-tease-type="" data-index="{{ forloop.index0 }}" aria-hidden="true">
                        <div class="latest-news-widget__latest__tease__hgroup">
                          <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">
                          <span class="latest-news-widget__latest__tease__number">{{ forloop.index }}</span>{{ post.title }}</h3>
                          <p class="latest-news-widget__latest__tease__h">{{ post.article_lead }}</p>
                        </div>
                        <div class="latest-news-widget__img-mod--crop">
                          <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default" style="background-image: url('https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg')">
                        </div>
                      </div>
                      </a>
                    </li>
                  {% else %}
                  <li class="latest-news-widget__latest__tease latest-news-widget__latest__tease--default latest-news-widget__latest__tease--has-image">
                      <a data-toggle="modal" id="jsTeaseLink{{ forloop.index }}" class="latest-news-widget__latest__tease__link js-hp-latest-tease-link" href="#modal{{ forloop.index }}" data-image="{{ post.image }}"
                        data-image-alt="" tabindex="0" data-tease-type="" data-index="{{ forloop.index0 }}" aria-hidden="true">
                        <div class="latest-news-widget__latest__tease__hgroup">
                          <h3 class="latest-news-widget__latest__tease__overline typography__latest-news-widget__rollup-list-h">
                          <span class="latest-news-widget__latest__tease__number">{{ forloop.index }}</span>{{ post.title }}</h3>
                          <p class="latest-news-widget__latest__tease__h">{{ post.article_lead }}</p>
                        </div>
                        <div class="latest-news-widget__latest__tease__img-mod latest-news-widget__latest__tease__img-mod--default" style="background-image: url('{{ page.baseurl }}{{ post.image }}')">
                        </div>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}

              {% endif %}

            {% endfor %}

          </ol>
          <div class="text-center">
            <a href="{{ page.baseurl }}news/" class="btn btn-primary buttons__btn-margin-top">View All News</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
