html,
body {
  overflow-x: hidden; }

img.float-image-left {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 10px; }

img.float-image-right {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 10px; }

img.no-float {
  float: none; }

img.center-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin: 10px; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.center-this-text {
  text-align: center; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjAtdG9vbHMvX3ZhcnMuc2NzcyIsIjMtbGF5b3V0L19jb250ZW50LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBK0NBOztFQUVFLG1CQUFrQixFQUNuQjs7QUNsREQ7RUFDRSxZQUFXO0VBQ1gsZ0JBQWU7RUFDZixhQUFZO0VBQ1osYUFBWSxFQUNiOztBQUVEO0VBQ0UsYUFBWTtFQUNaLGdCQUFlO0VBQ2YsYUFBWTtFQUNaLGFBQVksRUFDYjs7QUFFRDtFQUNFLFlBQVcsRUFDWjs7QUFFRDtFQUNFLGtCQUFpQjtFQUNqQixtQkFBa0I7RUFDbEIsZ0JBQWU7RUFDZixhQUFZO0VBQ1osYUFBWSxFQUNiOztBQUVEO0VBQ0UsaUJBQWdCLEVBQ2pCOztBQUVEO0VBQ0Usa0JBQWlCLEVBQ2xCOztBQUVEO0VBQ0UsbUJBQWtCLEVBQ25CIiwiZmlsZSI6ImNvbnRlbnQuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gIFRPIFVTRSBHT09HTEUgRk9OVFMgRk9SIFNJVEU6XG4vLz09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cbi8vZmFsbCBiYWNrIGZvbnQgc3RhY2sgZm9yIHNpdGVcbiRiYXNlZm9udC1zdGFjazogJ09wZW4gU2FucycsIHNhbnMtc2VyaWY7XG4kYmFzZS1mb250LXNpemU6IDFlbTtcbiRiYXNlLWZvbnQtd2VpZ2h0OiA0MDA7XG4kYmFzZS1mb250LXdlaWd0aC1ib2xkOiA2MDA7XG4vL3NlY29uZGFyeSBmb250IHN0YWNrIGZvciBzaXRlXG4kc2Vjb25kYXJ5Zm9udC1zdGFjazogJ1JvYm90bycsIHNhbnMtc2VyaWY7XG4kc2Vjb25kYXJ5Zm9udC13ZWlnaHQtcmVndWxhcjogNDAwO1xuJHNlY29uZGFyeWZvbnQtd2VpZ2h0LWJvbGRpc2g6IDUwMDtcbiRzZWNvbmRhcnlmb250LXdlaWdodC1ib2xkOiA3MDA7XG4kc2Vjb25kYXJ5Zm9udC13ZWlnaHQtYmxhY2s6IDkwMDtcblxuLy9JbWFnZSBwYXRoIGZvciBtb3N0IG9mIGdsb2JhbCBzdHlsZSBzaGVldFxuJGltYWdlZGlyOicvYXNzZXRzL2ltZy8nO1xuXG4vL0tDQyBjb2xvcnNcbiRwcmltYXJ5LWJsdWU6ICMwZjNiNjM7ICAgICAgIC8vIFByaW1hcnkgcmVkLWNvbG9yXG4kcHJpbWFyeS1yZWQ6ICNjNjFmNDg7ICAgICAgICAvLyBQcmltYXJ5IGJsdWUtY29sb3JcbiRhY2NlbnQtYmx1ZTogIzAwNWJhYzsgICAgICAgIC8vIEFjY2VudCBibHVlLWNvbG9yIHVzZWQgaW4gYWxsIGxpbmtzIGFuZCBsaW5rIGJ1dHRvbnM7XG5cbiRibGFjazogIzAwMDtcbiRncmV5LTE6ICM2NjY7XG4kZ3JleS0yOiAjZTVlOGVkO1xuJGdyZXktMzogI2YxZjJmNzsgICAgICAgICAgICAvLyAgQmFja2dyb3VuZCBjb2xvciBmb3Igc2xpY2sgdHJhY2tzXG4kZ3JleS00OiAjZjhmOWZhOyAgICAgICAgICAgIC8vIEJhY2tncm91bmQgY29sb3IgZm9yIGZvb3RlciAoYW5kIEJvb3RzdHJhcCA0IGxpZ2h0IG5hdmJhcilcbiRncmV5LTU6ICNiMWIxYjE7ICAgICAgICAgICAgLy8gQm9yZGVyLWJvdHRvbSBmb3IgbG9jYWwtbmF2IG5hdmlnYXRpb24gYmFyXG5cbiR3aGl0ZTogI2ZmZjtcblxuXG4kbGFuZGluZy1iZzogJGdyZXktMjsgICAgICAgIC8vIExhbmRpbmcgcGFnZSdzIGJhY2tncm91bmQtY29sb3JcbiRkZWZhdWx0LWJnOiAkd2hpdGU7ICAgICAgICAvLyBCYWNrZ3JvdW5kIGNvbG9yIGZvciBub24tbGFuZGluZyBwYWdlc1xuJGZvb3Rlci1iZzogJHdoaXRlOyAgICAgICAgIC8vIEZvb3RlcidzIGJhY2tncm91bmQgY29sb3JcbiRncmV5LWhlYWRpbmc6ICRncmV5LTE7ICAgICAgLy8gR3JleSBoZWFkaW5ncyB1c2VkIHdpdGhpbiBwYWdlIGNvbnRlbnRcbiRmYS1jb2xvcjogJHByaW1hcnktcmVkO1xuJHNsaWRlLWJnOiAkd2hpdGU7ICAgICAgICAgICAgLy8gQmFja2dyb3VuZCBjb2xvciBmb3IgdGhlIHVwY29taW5nIGdhbWVzIHNsaWNrIHNsaWRlc1xuJHN1Yi1uYXYtaGVhZGluZzogJHdoaXRlOyAgICAgLy8gRm9udCBjb2xvciBmb3IgaDEucGFnZS1oZWFkaW5nIGhlYWRpbmcgb2Ygc3ViLW5hdlxuJG5hdi1saW5rOiAkd2hpdGU7ICAgICAgICAgICAgLy8gQ29sb3IgZm9yIG5hdi1saW5rLW1haW4gbGlua3MgaW4gbWVnYS1uYXZcblxuJGJ0bi1wcmltYXJ5LWJnOiAjMDA1MWE3O1xuJGJ0bi1wcmltYXJ5LWJvcmRlcjogIzAwMzc3MztcbiRidG4taG92ZXItYmc6ICMwMjJiNTU7XG4kYnRuLWhvdmVyLWJvcmRlcjogIzAyMWUzZDtcbiRkYXJrZXItbGluazogIzAwNmNlMDtcblxuaHRtbCxcbmJvZHkge1xuICBvdmVyZmxvdy14OiBoaWRkZW47XG59XG4iLCJpbWcuZmxvYXQtaW1hZ2UtbGVmdCB7XG4gIGZsb2F0OiBsZWZ0O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogYXV0bztcbiAgbWFyZ2luOiAxMHB4O1xufVxuXG5pbWcuZmxvYXQtaW1hZ2UtcmlnaHQge1xuICBmbG9hdDogcmlnaHQ7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiBhdXRvO1xuICBtYXJnaW46IDEwcHg7XG59XG5cbmltZy5uby1mbG9hdCB7XG4gIGZsb2F0OiBub25lO1xufVxuXG5pbWcuY2VudGVyLWltYWdlIHtcbiAgbWFyZ2luLWxlZnQ6IGF1dG87XG4gIG1hcmdpbi1yaWdodDogYXV0bztcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IGF1dG87XG4gIG1hcmdpbjogMTBweDtcbn1cblxuLmFsaWduLWxlZnQge1xuICB0ZXh0LWFsaWduOiBsZWZ0O1xufVxuXG4uYWxpZ24tcmlnaHQge1xuICB0ZXh0LWFsaWduOiByaWdodDtcbn1cblxuLmNlbnRlci10aGlzLXRleHQge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4iXX0= */
