    <!--  Fonts needed for the kcc-gem-theme
    Do not delete ========================== -->
    <!-- Typkit font for KCC logo-font (used in kcc-gem-theme)-->
    <link rel="stylesheet" href="https://use.typekit.net/mli7lsm.css">
    <!-- Link to Google Font's "Roboto" font (used in kcc-gem-theme) -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Link to Google Font's "Open Sans" font (used in kcc-gem-theme) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- Link to Google Font's "Oswald" font (used in kcc-gem-theme) -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
    <!--  OK to delete fonts under this comment that are not in use by project ========================== -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
