img.float-image-left {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

img.float-image-right {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

img.no-float {
  float: none;
}

img.center-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

// Content Headings
h2.typography__h2 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-size: 2rem;
  font-weight: $font-weight-boldish;
}

h3.typography__h3 {
  color: $primary-blue;
  font-family: $font-family-headings;
  font-size: 1.75rem;
  font-weight: $font-weight-bolder;
}

h4.typography__h4 {
  color: $primary-red;
  font-family: $font-family-headings;
  font-size: 1.7rem;
  font-weight: $font-weight-bolder;
}

h5.typography__h5 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  font-size: 1.5rem;
}

h6.typography__h6 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  font-size: 1.4rem;
}
