{% include copies/document-head.html %}
  {% include copies/scripts/google-tag.html %}
  {% include copies/styles/fonts.html %}
  {% include copies/styles/vendor.html %}
  {% include copies/styles/main.html %}
  {% include copies/body.html %}
  {% include copies/scripts/google-noscript.html %}
  {% include copies/nav-landing.html %}
  <!-- ===============================================
  COPY OF THE DEFAULT LAYOUT USED BY THE GEM THEME
  ================================================== -->
  {{ content }}
  {% includes copies/benefits.html %}
  {% include copies/footer.html %}
  {% include copies/scripts/vendor-cdn.html %}
  {% include copies/scripts/kcc-theme.html %}
  {% include copies/scripts/custom.html %}
{% include copies/foot.html %}
